.main{
  display: flex;
  width: 100vw;
  height: 4rem;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  background-color: black;
  .name{
    font-size: 1.5rem;
    font-weight: 900;
    color: #ffffff;
    span{
      color: red;
    }
  }
  .links{
    .link{
      margin: 2rem;
      font-size: 0.7rem;
      color: #ffffff;
      text-decoration: none;
    }

  }
  a:active{
    color:red;
  }
}


@media only screen and (max-width: 600px) {
  .main{
    .links{
      .link{
        margin: 0.5rem;
      }
    }
  }
}

@media only screen and (max-width: 780px) {
  .main{
    .links{
      .link{
        margin: 0.5rem;
      }
    }
  }
}
