<div class="container">
  <div class="title">
    <p>Harshvardhan</p>
    <h2>DEVELOPER.</h2>
  </div>
  <div class="social-media">
    <lucide-icon name="instagram" class="icon" (click)="openInstagram()"></lucide-icon>
    <lucide-icon name="linkedin" class="icon" (click)="openLinkedIn()"></lucide-icon>
    <lucide-icon name="github" class="icon" (click)="openGithub()"></lucide-icon>
    <lucide-icon name="gitlab" class="icon" (click)="openGitLab()"></lucide-icon>
  </div>
</div>


<div class="about">
  <h2><strong>About Myself</strong></h2>
  <div class="red-line"></div>
  <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
  <div class="fbox">
    <div class="image">
      <img src="../../assets/images/harsh.jpg" alt="hero image">
    </div>
    <div class="content">
      <h2>Full Stack Developer</h2>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
      <br>
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ex atque aliquid cupiditate quidem voluptas temporibus, quisquam labore asperiores cum, illum distinctio dolorum doloremque commodi animi accusantium nesciunt. Rerum, velit deserunt.</p>
      <br>
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Animi corrupti impedit, tenetur harum unde tempore quibusdam sapiente doloremque facere mollitia sit, modi autem deleniti! Laudantium voluptates ducimus impedit dolor quam.</p>
      <br>
      <button> My Work </button>
    </div>
  </div>
</div>


<div class="what">
  <p class="heading">What I Do</p>
  <div class="red-line"></div>
  <p class="text">Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>

  <div class="fcontainer">
    <div class="box">
      <lucide-icon name="airplay" [size]="60" [strokeWidth]="1" color="red"></lucide-icon>
      <p class="heading">Web Development</p>
      <p class="content">Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
    </div>

    <div class="box">
      <lucide-icon name="smartphone" [size]="60" [strokeWidth]="1" color="red"></lucide-icon>
      <p class="heading">Mobile Apps</p>
      <p class="content">Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
    </div>

    <div class="box">
      <lucide-icon name="server" [size]="60" [strokeWidth]="1" color="red"></lucide-icon>
      <p class="heading">Deployment</p>
      <p class="content">Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
    </div>
  </div>
</div>
